<!DOCTYPE html>
<html>
  <head>
    <title>Become A Member</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Become a member</h1>
    <form action="" method="POST">
      <label for="secret_code">Secret Code:</label>
      <input name="secret_code" placeholder="Secret Code" type="text" />
      
<!--       
    <%if (locals.passwordConfirmationError) { %>
        <p class="error"><%= passwordConfirmationError %></p>
      <% } %> 
-->

      <button type="submit">Submit</button>
    </form>
  </body>
</html>