<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="first_name">First Name</label>
      <input name="first_name" placeholder="First Name" type="text" />
      <label for="last_name">Last Name</label>
      <input name="last_name" placeholder="Last Name" type="text" />
      <label for="email">Email</label>
      <input name="email" placeholder="Email" type="email" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <label for="confirm_password">Confirm Password</label>
      <input name="confirm_password" type="password" />
      <%if (locals.passwordConfirmationError) { %>
        <p class="error"><%= passwordConfirmationError %></p>
      <% } %>
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>