<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="/sign-in" method="POST">
        <label for="email"></label>
        <input name="email" type="email" />
        <label for="password">Password</label>
        <input name="password" type="password">
        <button>Sign In</button>
    </form>
  </body>
</html>
