body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message {
  margin: 10px;
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.header {
  font-weight: bold;
}
